Options +FollowSymLinks
RewriteEngine on

#compress all text & html:
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css

#set cache control:
<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|swf)$">
Header set Cache-Control "max-age=29030400, public"
</FilesMatch>

<FilesMatch "\.(css)$">
Header set Cache-Control "max-age=29030400, private"
</FilesMatch>

#rewrite all requests to index.php, except for real files/folders requests
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?location=$1 [nc,L]
